<!DOCTYPE html>
<html>
<head>
  <title>Welcome to FPS</title>
</head>
<body>
  <img src="https://fps-holisol.s3.ap-south-1.amazonaws.com/images/public/file-1687330792938-270817346.png" width="80px" alt="holisol logo">
  <h4 style="margin-top: .8rem">We are glad that you joined us !</h4>
  <p><%= data.text %></p>
</body>
</html>